.game-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em 2em 0;
}

.game-tile:hover {
    animation: pop 0.2s ease-out forwards;
    -webkit-animation: pop 0.2s ease-out forwards;
}

.header {
    font-size: 20px;
    margin-bottom: .5em;
}

.frame {
    width: 130px;
    height: 130px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.game-tile-square {
    width: 40px;
    height: 40px;
    background-color: #1E1E1E;
    border-radius: 4px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

.game-tile-square-red {
    border: 1px solid #cb5656;
}

.game-tile-square-green {
    border: 1px solid #3e824a;
}