.menu-bar > button {
    background-color: #FF6B6B;
    border: 1px solid #cb5656;
    border-radius: 4px;
    padding: 10px;
    margin-right: 1em;
    font-size: 20px;
}

.menu-bar > button:hover {
    background-color: #cb5656;
    animation: pop 0.2s ease-out forwards;
    -webkit-animation: pop 0.2s ease-out forwards;
}

.menu-bar > button:active {
    background-color: #b44c4c;
}

@keyframes pop {
    from{transform:scale(1)}
    /* 80%{transform:scale(1.2)} */
    to{transform:scale(1.1)}
}
@-webkit-keyframes pop {
    from{-webkit-transform:scale(1)}
    /* 80%{-webkit-transform:scale(0.5)} */
    to{-webkit-transform:scale(1.1)}
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
}